.welcomeHeader {
  width: 100vw;
  background-image: linear-gradient(to bottom, rgb(38,166,154), rgb(255,255,255));
}

.kiwi-hero-image {
  background-image: url('https://static1.squarespace.com/static/594974c0e58c62484cbd42f9/594986965a730f2283302e8b/5a13840f085229fa0466b50a/1511274220835/giphy-4.gif?format=1500w');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 500px;
}

/* grid styles */
.grid-container {
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: rgb(255,255,255)
}

.title-container {
  padding-top: 100px;
  background-image: linear-gradient(to bottom, rgb(38,166,154), rgb(255,255,255));
}

.title-content {
  background: whitesmoke;
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 8px 8px 50px black;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 100px;
}

.title-content h2 {
  color: #26a69a;
  text-shadow: 1px 1px 10px #26a69a;
}

.title-content p {
  font-size: large;
  line-height: 2em;
}


.subTitle {
  padding-top: 70px;
}

.data-row {
  /* margin: 0 10px 0 10px; */
  box-shadow: 8px 8px 50px black;
  padding-bottom: 50px;
}

.data-row .title-card-content {
  background: rgb(255,255,255,.25);
  margin: 20px 5px 20px 5px;
  padding: 20px 0 20px 0;
  border-radius: 25px;
  border: 1px solid black;
  box-shadow: 8px 8px 50px black;
}

.grid-container .data-row .card-content-title p {
  font-size: 30px;
}

.grid-container .data-row .card-content-data {
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
  background: rgb(255,255,255);
  border: 10px ridge antiquewhite;
}

.diet-row .center-align .image-holder img {
  max-height: 100px;
  max-width: auto;
}
