body {
    background: #26a69a;
}
.login {
    margin-top: 25px;
    background: white;
    width: 400px;
    box-shadow: 10px 10px 100px blanchedalmond;
}
.register {
    margin-top: 25px;
    background: white;
    width: 400px;
    box-shadow: 10px 10px 100px blanchedalmond;
}

.container {
    font-family: 'Comfortaa';
}