.notLoggedInPage {
    background-color: white;
    min-width: 100%;
    min-height: 80vh;
    position: relative;
    left: 0;
}

.notLoggedInPage .header-container {
    background-color: aqua;
}

.hero .hero-slider {
    min-height: 500px;
    margin-bottom: 100px;
}

.footer-force {
    background: white;
    min-height: 80vh;
}