.search-container {
    margin-top: 50px;
    box-shadow: 0 0 15px 5px grey;
    margin: 0 auto;
    display: inline-block;
    margin-bottom: 30px;
}

.inputbar {
    min-width: 600px;
    text-align: center;
    margin: 0 auto;
}
.valign-wrapper {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.title-container {
    text-align: center;
    font-size: small;
}
